// Bitters 1.7.0
// http://bitters.bourbon.io
// Copyright 2013-2017 thoughtbot, inc.
// MIT License

@import "../variables";
@import "variables";

@import "buttons";
@import "forms";
@import "layout";
@import "lists";
@import "media";
@import "tables";
@import "typography";

.circleWrapper {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
}
  .successCircle {
    background-color: #4BB543;
    border: 2.5px dashed #4BB543;
  }
  .circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2.5px;
    background-clip: content-box;
    animation: spin 10s linear infinite;
  }

  .circleWrapper:active .circle {
    animation: spin 2s linear infinite;
  }

  @keyframes spin { 
    100% { 
      transform: rotateZ(360deg);
    }
  }

  .MuiSnackbar-anchorOriginTopRight {
    z-index: 999999;
  }

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #b9b9b9;
}